on early-boot
   exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules nova_0flash_mmi

   # Goodix fingerprint
   chown system system /dev/goodix_fp
   chmod 0664 /dev/goodix_fp
   chmod 0777 /proc/android_touch/debug
   mkdir /data/vendor/gf_data 0770 system system
   mkdir /mnt/vendor/persist/goodix 0770 system system

   # gestures
   chown system system /sys/class/touchscreen/NVT-ts/double_click
   chown system system /sys/class/touchscreen/NVT-ts/single_click

on fs
   exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules sx933x_sar
